:root{
    --color1: #84e52c;
    --color2: #2ce530;
    --color3: #2ce58d;
    --color4: #2ce1e5;
    --color5: #2c84e5;
    --color6: #302ce5;
}

#logo{    
    text-align: center;
}

#redes{
    text-align: left;
}
#tel{
    text-align: right;
}
#encabezado{
    background-color: ;   
}
#footer{
    color: white;
    background-color:  var(--color6);
    padding-left: 2rem;         
}