:root{
    --color1: #84e52c;
    --color2: #2ce530;
    --color3: #2ce58d;
    --color4: #2ce1e5;
    --color5: #2c84e5;
    --color6: #302ce5;
}

body {
    max-width: 99.25%;
}

#logo{    
    text-align: center;
}

#redes{
    text-align: left;
}
#tel{
    text-align: right;
}
#encabezado{
    background: linear-gradient(to right, white -10%, var(--color2));
}
#footer{
    color: white;
    background-color:  var(--color6);
    padding: 1rem;
           
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer__logo {
    height: 13rem;
	width: 13rem;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.w80{
    width: 80%;
}

.cards{
    width: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}